<div class="modal-header">
  <h4 class="modal-title">{{ modal.title }}</h4>
</div>

<div class="modal-body">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">{{ patient.name }}</h4>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-4 text-left">
          <label>Born:</label> <strong>{{ patient.dateOfBirth | date:'dd-MMM-yyyy' }}</strong></div>
        <div class="col-sm-4 text-center">
          <label>Gender:</label> <strong>{{ patient.gender }}</strong></div>
        <div class="col-sm-4 text-right">
          <label>NHS No:</label> <strong>{{ patient.nhsNumber }}</strong></div>
      </div>
    </div>
  </div>

  <form name="jointScoreForm" class="form-horizontal text-left">
    <fieldset class="jointScoreForm">
      <legend>{{ modal.title }}</legend>

      <div class="row">
        <div class="col-md-offset-4 col-md-8">
          <div class="form-group" ng-class="{'has-error': (formSubmitted || jointScoreForm.leftElbow.$dirty) && jointScoreForm.leftElbow.$invalid, 'has-success': jointScoreForm.leftElbow.$valid && jointScoreForm.leftElbow.$dirty}">
            <label for="leftElbow" class="control-label col-md-2">Left Elbow</label>
            <div class="col-md-3">
              <div class="input-group">
                <input type="number" class="form-control input-sm" id="leftElbow" init min="0" ng-change="updateTotal()" name="leftElbow" ng-model="jointScore.leftElbow" required />
              </div>
            </div>
            <span class="help-block animate-fade" ng-show="formSubmitted && jointScoreForm.leftElbow.$error.required">You must enter a value.</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-offset-4 col-md-8">
          <div class="form-group" ng-class="{'has-error': (formSubmitted || jointScoreForm.rightElbow.$dirty) && jointScoreForm.rightElbow.$invalid, 'has-success': jointScoreForm.rightElbow.$valid && jointScoreForm.rightElbow.$dirty}">
            <label for="rightElbow" class="control-label col-md-2">Right Elbow</label>
            <div class="col-md-3">
              <div class="input-group">
                <input type="number" class="form-control input-sm" id="rightElbow" min="0" ng-change="updateTotal()" name="rightElbow" ng-model="jointScore.rightElbow" required />
              </div>
            </div>
            <span class="help-block animate-fade" ng-show="formSubmitted && jointScoreForm.rightElbow.$error.required">You must enter a value.</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-offset-4 col-md-8">
          <div class="form-group" ng-class="{'has-error': (formSubmitted || jointScoreForm.leftKnee.$dirty) && jointScoreForm.leftKnee.$invalid, 'has-success': jointScoreForm.leftKnee.$valid && jointScoreForm.leftKnee.$dirty}">
            <label for="leftKnee" class="control-label col-md-2">Left Knee</label>
            <div class="col-md-3">
              <div class="input-group">
                <input type="number" class="form-control input-sm" id="leftKnee" min="0" ng-change="updateTotal()" name="leftKnee" ng-model="jointScore.leftKnee" required />
              </div>
            </div>
            <span class="help-block animate-fade" ng-show="formSubmitted && jointScoreForm.leftKnee.$error.required">You must enter a value.</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-offset-4 col-md-8">
          <div class="form-group" ng-class="{'has-error': (formSubmitted || jointScoreForm.rightKnee.$dirty) && jointScoreForm.rightKnee.$invalid, 'has-success': jointScoreForm.rightKnee.$valid && jointScoreForm.rightKnee.$dirty}">
            <label for="rightKnee" class="control-label col-md-2">Right Knee</label>
            <div class="col-md-3">
              <div class="input-group">
                <input type="number" class="form-control input-sm" id="rightKnee" min="0" ng-change="updateTotal()" name="rightKnee" ng-model="jointScore.rightKnee" required />
              </div>
            </div>
            <span class="help-block animate-fade" ng-show="formSubmitted && jointScoreForm.rightKnee.$error.required">You must enter a value.</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-offset-4 col-md-8">
          <div class="form-group" ng-class="{'has-error': (formSubmitted || jointScoreForm.leftAnkle.$dirty) && jointScoreForm.leftAnkle.$invalid, 'has-success': jointScoreForm.leftAnkle.$valid && jointScoreForm.leftAnkle.$dirty}">
            <label for="leftAnkle" class="control-label col-md-2">Left Ankle</label>
            <div class="col-md-3">
              <div class="input-group">
                <input type="number" class="form-control input-sm" id="leftAnkle" min="0" ng-change="updateTotal()" name="leftAnkle" ng-model="jointScore.leftAnkle" required />
              </div>
            </div>
            <span class="help-block animate-fade" ng-show="formSubmitted && jointScoreForm.leftAnkle.$error.required">You must enter a value.</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-offset-4 col-md-8">
          <div class="form-group" ng-class="{'has-error': (formSubmitted || jointScoreForm.rightAnkle.$dirty) && jointScoreForm.rightAnkle.$invalid, 'has-success': jointScoreForm.rightAnkle.$valid && jointScoreForm.rightAnkle.$dirty}">
            <label for="rightAnkle" class="control-label col-md-2">Right Ankle</label>
            <div class="col-md-3">
              <div class="input-group">
                <input type="number" class="form-control input-sm" id="rightAnkle" min="0" ng-change="updateTotal()" name="rightAnkle" ng-model="jointScore.rightAnkle" required />
              </div>
            </div>
            <span class="help-block animate-fade" ng-show="formSubmitted && jointScoreForm.rightAnkle.$error.required">You must enter a value.</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-offset-4 col-md-8">
          <div class="form-group">
            <label class="control-label col-md-2">Total</label>
            <div class="col-md-3">
              <div class="nonEditValue">
                {{totalScore}}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group form-group-sm" ng-class="{'has-error': (formSubmitted || jointScoreForm.author.$dirty) && jointScoreForm.author.$invalid, 'has-success': jointScoreForm.author.$valid && jointScoreForm.author.$dirty}">
            <label for="author" class="control-label col-md-12">Author</label>
            <div class="col-md-12">
              <div class="input-group">
                <input type="text" value="{{currentUser.email}}" placeholder="{{currentUser.email}}" class="form-control joint-score-author input-sm" id="author" name="author" ng-model="jointScore.author" disabled />
              </div>
              <span class="help-block animate-fade" ng-show="formSubmitted && jointScoreForm.author.$error.required">You must enter a value.</span>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group form-group-sm" ng-class="{'has-error': (formSubmitted || jointScoreForm.dateRecorded.$dirty) && jointScoreForm.dateRecorded.$invalid, 'has-success': jointScoreForm.dateRecorded.$valid && jointScoreForm.dateRecorded.$dirty}">
            <label for="Date" class="control-label col-md-12">Date</label>
            <div class="col-md-12">
              <div class="input-group">
                <span class="input-group-btn">
              <button type="button" class="btn btn-default btn-sm" ng-click="dateofSubmittedDatepicker($event, 'dateSubmitted')" disabled><i class="fa fa-calendar"></i></button>
            </span>
                <input type="text" class="form-control" id="dateRecorded" name="dateRecorded" ng-model="jointScore.dateRecorded" ng-click="dateofSubmittedDatepicker($event, 'dateSubmitted')" datepicker-popup="dd-MMM-y" is-open="dateSubmitted" required disabled />
              </div>
              <span class="help-block animate-fade" ng-show="formSubmitted && jointScoreForm.dateRecorded.$error.required">You must enter a valid date.</span>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
</div>

<div class="modal-footer">
  <a class="btn btn-danger" ng-click="cancel()">Cancel</a>
  <button class="btn btn-success" ng-click="formSubmitted = true; ok(jointScoreForm, jointScore);"><i class="fa fa-check"></i> Complete</button>
</div>
