<div class="modal-header">
  <h4 class="modal-title">{{ modal.title }}</h4>
</div>

<div class="modal-body">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">{{ patient.name }}</h4>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-4 text-left">
          <label>Born:</label> <strong>{{ patient.dateOfBirth | date:'dd-MMM-yyyy' }}</strong></div>
        <div class="col-sm-4 text-center">
          <label>Gender:</label> <strong>{{ patient.gender }}</strong></div>
        <div class="col-sm-4 text-right">
          <label>IHI No:</label> <strong>{{ patient.nhsNumber }}</strong></div>
      </div>
    </div>
  </div>

  <form name="bleedForm" class="form-horizontal text-left">
    <fieldset class="bleedForm">
      <legend>{{ modal.title }}</legend>
      <div class="row">

          <div class="form-group" ng-class="{'has-error': (formSubmitted || bleedForm.cause.$dirty) && bleedForm.cause.$invalid, 'has-success': bleedForm.cause.$valid && bleedForm.cause.$dirty}">
            <label for="cause" class="control-label col-md-12">Cause</label>
            <div class="col-md-12">
              <div class="input-group">
                <select class="form-control input-sm" id="cause" name="cause" ng-model="bleed.cause" required>
                  <option value="">-- Cause --</option>
                  <option value="Unspecified">Unspecified</option>
                  <option value="Activity">Activity</option>
                  <option value="Dental">Dental</option>
                  <option value="Surgery">Surgery</option>
                  <option value="Spontaneous">Spontaneous</option>
                  <option value="Trauma">Trauma</option>
                  <option value="Other">Other</option>
                </select>
              </div>
              <span class="help-block animate-fade" ng-show="formSubmitted && bleedForm.cause.$error.required">You must enter a value.</span>
            </div>
          </div>

          <div class="form-group" ng-class="{'has-error': (formSubmitted || bleedForm.type.$dirty) && bleedForm.type.$invalid, 'has-success': bleedForm.type.$valid && bleedForm.type.$dirty}">
            <label for="type" class="control-label col-md-12">Type</label>
            <div class="col-md-12">
              <div class="input-group">
                <select class="form-control input-sm" id="type" name="type" ng-model="bleed.type" required>
                  <option value="">-- Type --</option>
                  <option value="Unspecified">Unspecified</option>
                  <option value="Head">Head</option>
                  <option value="Joint">Joint</option>
                  <option value="Mucosal">Mucosal</option>
                  <option value="Muscle">Muscle</option>
                  <option value="Tissue">Tissue</option>
                  <option value="Other">Other</option>
                </select>
              </div>
              <span class="help-block animate-fade" ng-show="formSubmitted && bleedForm.type.$error.required">You must enter a value.</span>
            </div>
          </div>

          <div class="form-group" ng-class="{'has-error': (formSubmitted || bleedForm.site.$dirty) && bleedForm.site.$invalid, 'has-success': bleedForm.site.$valid && bleedForm.site.$dirty}">
            <label for="site" class="control-label col-md-12">Site</label>
            <div class="col-md-12">
              <div class="input-group">
                <select class="form-control input-sm" id="site" name="site" ng-model="bleed.site" required>
                  <option value="">-- Site --</option>
                  <option value="Left elbow">Left elbow</option>
                  <option value="Right elbow">Right elbow</option>
                  <option value="Left knee">Left knee</option>
                  <option value="Right knee">Right knee</option>
                  <option value="Left ankle">Left ankle</option>
                  <option value="Right ankle">Right ankle</option>
                </select>
              </div>
              <span class="help-block animate-fade" ng-show="formSubmitted && bleedForm.site.$error.required">You must enter a value.</span>
            </div>
          </div>

          <div class="form-group" ng-class="{'has-error': (formSubmitted || bleedForm.pain.$dirty) && bleedForm.pain.$invalid, 'has-success': bleedForm.pain.$valid && bleedForm.pain.$dirty}">
            <label for="pain" class="control-label col-md-12">Pain</label>
            <div class="col-md-12">
              <div class="input-group">
                <input type="number" min="1" max="10" class="form-control input-sm" id="pain" name="pain" ng-model="bleed.pain" required />
              </div>
              <span class="help-block animate-fade" ng-show="formSubmitted && bleedForm.pain.$error.required">You must enter a value.</span>
            </div>
          </div>

          <div class="form-group" ng-class="{'has-error': (formSubmitted || bleedForm.severity.$dirty) && bleedForm.severity.$invalid, 'has-success': bleedForm.severity.$valid && bleedForm.severity.$dirty}">
            <label for="severity" class="control-label col-md-12">Severity</label>
            <div class="col-md-12">
              <div class="input-group">
                <select class="form-control input-sm" id="severity" name="severity" ng-model="bleed.severity" required>
                  <option value="">-- Severity --</option>
                  <option value="Mild">Mild</option>
                  <option value="Moderate">Moderate</option>
                  <option value="Severe">Severe</option>
                </select>
              </div>
              <span class="help-block animate-fade" ng-show="formSubmitted && bleedForm.severity.$error.required">You must enter a value.</span>
            </div>
          </div>

        </div>
    </fieldset>
  </form>
</div>

<div class="modal-footer">
  <a class="btn btn-danger" ng-click="cancel()">Cancel</a>
  <button class="btn btn-success" ng-click="formSubmitted = true; ok(bleedForm, bleed);"><i class="fa fa-check"></i> Complete</button>
</div>
